<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>193721208978-nogdpg0bij7unqvc9kioiuuu52qkprt7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.193721208978-nogdpg0bij7unqvc9kioiuuu52qkprt7</string>
	<key>API_KEY</key>
	<string>AIzaSyA21cZmpXdtT7ar3YM9vJ6nDNysDC-0c9Y</string>
	<key>GCM_SENDER_ID</key>
	<string>193721208978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.pratapsharma.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-16c30</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-16c30.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:193721208978:ios:299b731beb81a2dfe1564b</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-ios13-16c30.firebaseio.com</string>
</dict>
</plist>